.EmptyTodos-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  width: 500px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.EmptyTodos-container p {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  color: #855e6e;
  background-color: #05b198;
  background-size: 30px 100px;
}
img {
  width: 300px;
  border-radius: 10px;
}
